
/**
 * Framework starts from here ...
 * ------------------------------
 */

.tree,
.tree ul {
    margin:0 0 0 1em; /* indentation */
    padding:0;
    list-style:none;
    color:#738193;
    position:relative;
}

.tree ul {margin-left:1.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:13px;
    bottom:0;
    left:0;
    border-left:1px solid;
}

ul.tree>li{
    color: #222C70;
    font-weight: bolder;
}

.tree li {
    margin:0;
    padding:0 1.5em; /* indentation + .5em */
    line-height:2em; /* default list item's `line-height` */
    position:relative;

}

.tree li:before {
    content:"";
    display:block;
    width:10px; /* same with indentation */
    height:0;
    border-top:1px solid;
    margin-top:-1px; /* border top width */
    position:absolute;
    top:1em; /* (line-height/2) */
    left:0;
    color:#369;
}


.tree li:last-child:before {
    background:#F5F5F5; /* same with body background */
    height:auto;
    top:1em; /* (line-height/2) */
    bottom:0;
}